*{
    box-sizing:         border-box;

    /* dimensions ////////////////////////////////////////////////////////// */
    /* top bar */
    --top_bar_height:           40px;
    --top_menu_item_padding:    10px;
    /* table header */
    --table_header_height:      60px;
    /* categories */
    --categories_width:         20%;
    --category_item_height:     30px;
    --categories_header_height: 120px;
    --category_color_div_dim:   calc(0.6 * var(--category_item_height));
    --new_category_name_width:  80%;
    --add_category_but_width:   18%;

    /* colors ////////////////////////////////////////////////////////////// */
    /* general */
    --bright_color:                     #14FFEC;
    --blue:                             #0D7377;
    /* top bar */
    --logo_color:                       var(--blue);
    --top_bar_bg_color:                 #212121;
    --top_menu_item_color:              #0D7377;
    --top_menu_item_hov_bg_color:       var(--table_header_bg_color);
    --top_menu_item_hov_color:          var(--bright_color);
    /* table header */
    --table_header_bg_color:            #333333;
    /* categories */
    --categories_color:                 var(--top_bar_bg_color);
    --categories_menu_bg_color:         var(--top_bar_bg_color);
    --categories_header_color:          var(--blue);
    --categories_header_border_color:   var(--blue);
    --category_item_border_color:       var(--categories_header_border_color);
    --category_item_color:              var(--categories_header_color);
    --category_color_div_border_color:  var(--categories_menu_bg_color);
    --new_category_input_bg_color:      var(--categories_menu_bg_color);
    --new_category_input_border_color:  var(--category_item_border_color);
    --new_category_color:               var(--new_category_input_border_color);
    --but_create_category_bg_color:     var(--new_category_input_border_color);
    --but_create_category_color:        var(--categories_menu_bg_color);
    --but_crate_category_bg_color_hov:  var(--top_menu_item_hov_color);
}


body {
    margin:             0;
    padding:            0;
    height:             100vh;
}


.flex_box {
    display:            flex;
}


/* table header //////////////////////////////////////////////////////////////////////////////////////////////////////*/


#table_header {
    width:              100%;
    height:             var(--table_header_height);
    background-color:   var(--table_header_bg_color);
}


/* container /////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#container {
    width:              100%;
    height:             calc(100% - var(--top_bar_height) - var(--table_header_height));
}


/* categories ////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#categories {
    width:              var(--categories_width);
    height:             100%;
    background-color:   var(--categories_menu_bg_color);
}


#categories_header {
    display:            block;
    width:              100%;
    height:             var(--categories_header_height);
    padding:            10px;
    font-weight:        bold;
    border-bottom:      2px solid var(--categories_header_border_color);
}


#categories_header span {
    display:            block;
    width:              100%;
    text-align:         center;
    font-size:          calc(var(--categories_header_height) / 2.5);
    color:              var(--categories_header_color);
    margin-bottom:      10px;
}


#category_creation_form {
    display:            flex;
    flex-direction:     row;
    justify-content:    space-between;
    width:              100%;
    padding-left:       calc((100% - var(--new_category_name_width) - var(--add_category_but_width)) / 2);
    padding-right:      calc((100% - var(--new_category_name_width) - var(--add_category_but_width)) / 2);
}


#new_category_name {
    width:              var(--new_category_name_width);
    background-color:   var(--new_category_input_bg_color);
    border:             2px solid var(--new_category_input_border_color);
    border-radius:      4px;
    color:              var(--new_category_color);
    padding-left:       4px;
}


#but_create_category {
    width:              var(--add_category_but_width);
    background-color:   var(--but_create_category_bg_color);
    border-radius:      4px;
    border:             none;
    color:              var(--but_create_category_color);
    text-align:         center;
}


#but_create_category:hover {
    background-color:   var(--but_crate_category_bg_color_hov);
    cursor:             pointer;
}


#categories_list {
    height:             calc(100% - var(--categories_header_height));
    overflow-y:         auto;
}


.category {
    height:             var(--category_item_height);
    border-bottom:      1px solid var(--category_item_border_color);
    line-height:        var(--category_item_height);
    color:              var(--category_item_color);
    font-weight:        bold;
    text-align:         center;
}


.category_color {
    display:            inline-block;
    visibility:         hidden;
    float:              right;
    width:              var(--category_color_div_dim);
    height:             var(--category_color_div_dim);
    margin:             calc((var(--category_item_height) - var(--category_color_div_dim)) / 2);
    border:             2px solid var(--category_color_div_border_color);
}


/* timeline //////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#timeline {
    width:              calc(100% - var(--categories_width));
    height:             100%;
    background-color:   yellow;
}