*{
    box-sizing:         border-box;

    /* dimensions */
    --top_bar_height:           40px;
    --table_header_height:      60px;
    --categories_width:         20%;
    --top_menu_item_padding:    10px;

    /* colors */
    --bright_color:                 #14FFEC;
    --blue:                         #0D7377;
    --logo_color:                   var(--blue);
    --top_bar_bg_color:             #212121;
    --table_header_bg_color:        #333333;
    --categories_color:             var(--top_bar_bg_color);
    --top_menu_item_color:          #0D7377;
    --top_menu_item_hov_bg_color:   var(--table_header_bg_color);
    --top_menu_item_hov_color:      var(--bright_color);
}


body {
    margin:             0;
    padding:            0;
    height:             100vh;
}


.flex_box {
    display:            flex;
}


/* table header //////////////////////////////////////////////////////////////////////////////////////////////////////*/


#table_header {
    width:              100%;
    height:             var(--table_header_height);
    background-color:   var(--table_header_bg_color);
}


/* container /////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#container {
    width:              100%;
    height:             calc(100% - var(--top_bar_height) - var(--table_header_height));
}


/* categories ////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#categories {
    width:              var(--categories_width);
    height:             100%;
    background-color:   purple;
}


/* timeline //////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#timeline {
    width:              calc(100% - var(--categories_width));
    height:             100%;
    background-color:   yellow;
}