*{
    box-sizing:         border-box;

    /* dimensions ////////////////////////////////////////////////////////// */
    /* top bar */
    --top_bar_height:           40px;
    --top_menu_item_padding:    10px;
    /* table header */
    --table_header_height:      60px;
    --table_header_but_height:  calc(var(--table_header_height) * 0.6);
    --table_header_but_ver_mar: calc((var(--table_header_height) - var(--table_header_but_height)) / 2);
    --but_adv_search_width:     160px;
    --but_new_task_width:       160px;
    --input_search_width:       200px;
    --input_search_height:      24px;
    --input_search_ver_margin:  calc((var(--table_header_height) - var(--input_search_height)) / 2);
    /* categories */
    --categories_width:         20%;
    --category_item_height:     30px;
    --categories_header_height: 120px;
    --category_color_div_dim:   calc(0.6 * var(--category_item_height));
    --new_category_name_width:  80%;
    --add_category_but_width:   18%;
    --category_sett_div_dim:    var(--category_color_div_dim);
    --category_settings_div_width:      360px;
    --category_settings_div_height:     50px;
    --category_settings_div_padding:    6px;
    --category_edit_div_icon_dim:       calc(var(--category_settings_div_height) * 0.5);
    --category_edit_name_input_width:   200px;
    /* task popup */
    --tsk_creation_popup_width:         60vw;
    --tsk_creation_popup_height:        80vh;
    --tsk_creation_line_width:          80%;
    --tsk_creation_line_label_width:    100px;
    --tsk_creation_input_width:         calc(97% - var(--tsk_creation_line_label_width));
    --tsk_creation_input_height:        20px;
    --new_task_description_height:      200px;
    --but_create_new_task_height:       40px;
    /* search results popup */
    --result_height:                    40px;

    /* colors ////////////////////////////////////////////////////////////// */
    /* general */
    --bright_color:                     #14FFEC;
    --blue:                             #0D7377;
    /* top bar */
    --logo_color:                       var(--blue);
    --top_bar_bg_color:                 #212121;
    --top_menu_item_color:              #0D7377;
    --top_menu_item_hov_bg_color:       var(--table_header_bg_color);
    --top_menu_item_hov_color:          var(--bright_color);
    /* table header */
    --table_header_bg_color:            #333333;
    --but_adv_search_bg:                var(--logo_color);
    --but_adv_search_color:             var(--top_bar_bg_color);
    --but_adv_search_bg_hov:            var(--bright_color);
    --but_new_task_bg:                  var(--logo_color);
    --but_new_task_color:               var(--top_bar_bg_color);
    --but_new_task_bg_hov:              var(--bright_color);
    --input_search_bg:                  #474747;
    --input_search_border_color:        var(--new_category_input_border_color);
    --input_search_color:               var(--bright_color);
    /* categories */
    --categories_bg_color:              var(--top_bar_bg_color);
    --categories_menu_bg_color:         var(--top_bar_bg_color);
    --categories_header_color:          var(--blue);
    --categories_header_border_color:   var(--blue);
    --category_item_border_color:       var(--categories_header_border_color);
    --category_item_color:              var(--categories_header_color);
    --category_color_div_border_color:  var(--categories_menu_bg_color);
    --new_category_input_bg_color:      var(--categories_menu_bg_color);
    --new_category_input_border_color:  var(--category_item_border_color);
    --new_category_color:               var(--new_category_input_border_color);
    --but_create_category_bg_color:     var(--new_category_input_border_color);
    --but_create_category_color:        var(--categories_menu_bg_color);
    --but_crate_category_bg_color_hov:  var(--top_menu_item_hov_color);
    --category_edit_div_bg:             var(--categories_menu_bg_color);
    --but_save_changes_bg_color:        var(--but_create_category_bg_color);
    --div_category_settings_border_col: var(--bright_color);
    /* task popup */
    --tsk_creation_popup_bg:            white;
}


body {
    margin:             0;
    padding:            0;
    height:             100vh;
}


.flex_box {
    display:            flex;
}


/* fonts /////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    font-family: 'Open Sans', sans-serif;
}

div {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Muli', sans-serif;
}

h2 {
    font-family: 'Muli', sans-serif;
}

h3 {
    font-family: 'Muli', sans-serif;
}

h4 {
    font-family: 'Muli', sans-serif;
}

/* table header //////////////////////////////////////////////////////////////////////////////////////////////////////*/


#table_header {
    width:              100%;
    height:             var(--table_header_height);
    background-color:   var(--table_header_bg_color);
}


#input_search {
    float:              left;
    margin:             var(--input_search_ver_margin) 0 var(--input_search_ver_margin) 20px;
    width:              var(--input_search_width);
    height:             var(--input_search_height);
    background-color:   var(--input_search_bg);
    border:             2px solid var(--input_search_border_color);
    border-radius:      4px;
    color:              var(--input_search_color);
    padding-left:       4px;
}


.ui-autocomplete {
    background-color:   var(--input_search_bg);
    color:              var(--bright_color);
}


#but_advanced_search {
    float:              left;
    width:              var(--but_adv_search_width);
    height:             var(--table_header_but_height);
    background-color:   var(--but_adv_search_bg);
    margin:             var(--table_header_but_ver_mar) 0 var(--table_header_but_ver_mar) 20px;
    border-radius:      4px;
    border:             none;
    color:              var(--but_adv_search_color);
    text-align:         center;
    line-height:        var(--table_header_but_height);
    cursor:             pointer;
}


#but_advanced_search:hover {
    background-color:   var(--but_adv_search_bg_hov);
}


#but_create_task {
    float:              right;
    width:              var(--but_new_task_width);
    height:             var(--table_header_but_height);
    background-color:   var(--but_new_task_bg);
    margin:             var(--table_header_but_ver_mar) 20px var(--table_header_but_ver_mar) 0;
    border-radius:      4px;
    border:             none;
    color:              var(--but_new_task_color);
    text-align:         center;
    line-height:        var(--table_header_but_height);
    cursor:             pointer;
}


#but_create_task:hover {
    background-color:   var(--but_new_task_bg_hov);
}


/* container /////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#container {
    width:              100%;
    height:             calc(100% - var(--top_bar_height) - var(--table_header_height));
}


/* categories ////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#categories {
    width:              var(--categories_width);
    height:             100%;
    background-color:   var(--categories_menu_bg_color);
}


#categories_header {
    display:            block;
    width:              100%;
    height:             var(--categories_header_height);
    padding:            10px;
    font-weight:        bold;
    border-bottom:      2px solid var(--categories_header_border_color);
}


#categories_header h1 {
    display:            block;
    width:              100%;
    text-align:         center;
    font-size:          calc(var(--categories_header_height) / 3);
    color:              var(--categories_header_color);
    margin-top:         0;
    margin-bottom:      10px;
}


#category_creation_form {
    display:            flex;
    flex-direction:     row;
    justify-content:    space-between;
    width:              100%;
    padding-left:       calc((100% - var(--new_category_name_width) - var(--add_category_but_width)) / 2);
    padding-right:      calc((100% - var(--new_category_name_width) - var(--add_category_but_width)) / 2);
}


#new_category_name {
    width:              var(--new_category_name_width);
    background-color:   var(--new_category_input_bg_color);
    border:             2px solid var(--new_category_input_border_color);
    border-radius:      4px;
    color:              var(--new_category_color);
    padding-left:       4px;
}


#but_create_category {
    width:              var(--add_category_but_width);
    background-color:   var(--but_create_category_bg_color);
    border-radius:      4px;
    border:             none;
    color:              var(--but_create_category_color);
    text-align:         center;
}


#but_create_category:hover {
    background-color:   var(--but_crate_category_bg_color_hov);
    cursor:             pointer;
}


#categories_list {
    height:             calc(100% - var(--categories_header_height));
    overflow-y:         auto;
}


.category {
    height:             var(--category_item_height);
    position:           relative;
    border-bottom:      1px solid var(--category_item_border_color);
    line-height:        var(--category_item_height);
    color:              var(--category_item_color);
    font-weight:        bold;
    text-align:         center;
}


/* it is created only in JS so you won't find it in tasks_page.html*/
.but_category_settings {
    display:            none;
    visibility:         hidden;
    position:           absolute;
    top:                calc((var(--category_item_height) - var(--category_color_div_dim)) / 2);
    right:              calc((var(--category_item_height) - var(--category_color_div_dim)) / 2);
    width:              var(--category_sett_div_dim);
    height:             var(--category_sett_div_dim);
    float:              right;
    background-image:   url("../images/settings_icon.png");
    background-size:    cover;
}


.but_category_settings:hover {
    background-image:   url("../images/settings_icon_hover.png");
}


.category:hover .but_category_settings {
    visibility:         visible;
}


/* created in JS - represents popup that open when category settings button is clicked*/
.div_category_settings {
    display:            none;
    flex-direction:     row;
    align-items:        center;
    justify-content:    space-evenly;
    z-index:            10000;
    position:           fixed;
    left:               calc(var(--categories_width) + 10px);
    width:              var(--category_settings_div_width);
    height:             var(--category_settings_div_height);
    background-color:   var(--category_edit_div_bg);
    padding:            var(--category_settings_div_padding);
    border-radius:      8px;
    border:             4px solid var(--div_category_settings_border_col);
    box-shadow:         0 0 10px black;
}


.category_setting_elem {
    margin:             0 5px 0 5px;
}


/* created in JS */
.but_delete_category {
    display:            inline-block;
    width:              var(--category_edit_div_icon_dim);
    height:             var(--category_edit_div_icon_dim);
    background-image:   url("../images/rubbish_bin.png");
    background-size:    cover;
}


.but_delete_category:hover {
    background-image:   url("../images/rubbish_bin_hover.png");
}


/* created in JS */
.input_category_name {
    width:              var(--category_edit_name_input_width);
    height:             var(--category_edit_div_icon_dim);
    background-color:   var(--new_category_input_bg_color);
    border:             2px solid var(--new_category_input_border_color);
    border-radius:      4px;
    color:              var(--new_category_color);
    padding-left:       4px;
}


/* created in JS */
.but_save_category_edit {
    display:            inline-block;
    height:             var(--category_edit_div_icon_dim);
    background-color:   var(--but_save_changes_bg_color);
    color:              var(--categories_bg_color);
    text-align:         center;
    line-height:        var(--category_edit_div_icon_dim);
    font-size:          12px;
    border-radius:      4px;
    padding:            0 10px 0 10px;
    cursor:             pointer;
}


.but_save_category_edit:hover {
    background-color:   var(--bright_color);
}


.category_color {
    display:            inline-block;
    visibility:         hidden;
    float:              right;
    width:              var(--category_color_div_dim);
    height:             var(--category_color_div_dim);
    margin:             calc((var(--category_item_height) - var(--category_color_div_dim)) / 2);
    border:             2px solid var(--category_color_div_border_color);
}


/* timeline //////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#timeline {
    width:              calc(100% - var(--categories_width));
    height:             100%;
    background-color:   var(--blue);
    position:           relative;
    overflow-y:         scroll;
}


/* task creation, details ////////////////////////////////////////////////////////////////////////////////////////////*/


.popup {
    display:            none;
    position:           fixed;
    top:                calc((100% - var(--tsk_creation_popup_height)) / 2);
    left:               calc((100% - var(--tsk_creation_popup_width)) / 2);
    z-index:            11000;
    width:              var(--tsk_creation_popup_width);
    height:             var(--tsk_creation_popup_height);
    background-color:   var(--tsk_creation_popup_bg);
    border-radius:      4px;
    box-shadow:         0 0 10px black;
    overflow:           auto;
}


.popup>div {
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    justify-content:    center;
    margin:             50px;
}


.task_creation_line {
    display:            flex;
    flex-direction:     row;
    align-items:        center;
    justify-content:    flex-start;
    margin:             10px;
    width:              var(--tsk_creation_line_width);
}


.task_creation_line>label:not(#new_task_end_label):not(#task_end_label):not(#searched_end_date_label) {
    display:            inline-block;
    width:              var(--tsk_creation_line_label_width);
}


.task_creation_line>input {
    height:             var(--tsk_creation_input_height);
}


.task_creation_line>input:not(#new_task_start):not(#new_task_end):not(#new_task_start_time):not(#new_task_end_time):not(#task_start):not(#task_end):not(#task_start_time):not(#task_end_time):not(#searched_start_date):not(#searched_end_date):not(#searched_start_time):not(#searched_end_time),
.task_creation_line>textarea,
.task_creation_line>select {
    width:              var(--tsk_creation_input_width);
}


#new_task_description_line, #task_description_line, #searched_description_line {
    display:            flex;
    flex-direction:     row;
    align-items:        start;
}


#new_task_description, #task_description, #searched_description {
    height:             var(--new_task_description_height);
}


#but_create_new_task, #but_save_task_changes, #but_search, #but_delete_task {
    width:              var(--but_new_task_width);
    height:             var(--but_create_new_task_height);
    background-color:   var(--but_new_task_bg);
    margin-top:         16px;
    border-radius:      4px;
    border:             none;
    color:              var(--bright_color);
    text-align:         center;
    line-height:        var(--table_header_but_height);
    cursor:             pointer;
}


#but_delete_task {
    background-color:   #fa4d02;
    color:              white;
}


#but_create_new_task:hover, #but_save_task_changes:hover, #but_search:hover {
    background-color:   var(--but_new_task_bg_hov);
    color:              var(--but_new_task_bg);
}


#but_delete_task:hover {
    background-color:   #e80e0e;
}


.from_to_arrow {
    height:             var(--tsk_creation_input_height);
    width:              auto;
    margin:             0 5px 0 5px;
}


#new_task_end_label, #task_end_label, #searched_end_date_label {
    margin-right:       5px;
}


.but_close_popup {
    position:           absolute;
    top:                5px;
    right:              5px;
    width:              18px;
    height:             auto;
}


.but_close_popup:hover {
    width:              16px;
    top:                6px;
    right:              6px;
}


/* advanced search result ////////////////////////////////////////////////////////////////////////////////////////////*/


#result_list {
    display:            flex;
    flex-direction:     column;
    width:              calc(0.9 * var(--tsk_creation_popup_width));
    max-height:         calc(0.8 * var(--tsk_creation_popup_height));
    overflow:           auto;
}


.search_result {
    display:            block;
    width:              100%;
    height:             var(--result_height);
    border-bottom:      1px solid gray;
    cursor:             pointer;
    line-height:        var(--result_height);
}


.search_result:first-child {
    border-top:         1px solid gray;
}


.search_result:hover {
    background-color:   var(--blue);
}


#result_list span {
    display:            block;
    width:              100%;
    font-size:          26px;
    font-weight:        bold;
    text-align:         center;
}